.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_items {

}

.dialogs_items a {
    color: black;

}

.dialogs_items .active {
    color: gold;
}

.dialog {
    padding: 10px;
}

.messages {

}

.message {
    padding: 10px;
}
a {
    text-decoration: none;
}